#fit-header {
    display: flex;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0 4px 2px rgb(199, 194, 194);
    margin-top: 20px;
    height: 65px;
    font-family: 'Karla', sans-serif;
}

#logo {
    margin-top: 0px;
    color: #7b2cbf;
    margin-inline-start: 55px;
    margin-block-start: 5px;
    font-size: 38px; 
}

.fit-nav {
    display: flex;
    gap: 25px;
    margin-inline-end: 80px;
    margin-block-start: 20px;
    font-size: 18px;
    font-weight: 500;
}

@media screen and (max-width: 500px) {
    #fit-header {
        margin-top: 0;
        height: 100%;
    }
    #logo {
        font-size: 100%;
        text-align: center;
        margin-inline-start: 25px;
        margin-block-start: 11px;
    }
    .fit-nav {
        margin-inline-end: 30px;
        margin-block-start: 15px;
        font-size: 5%; 
        gap: 5px;
    }
    .g-header {
        font-size: 100%;
    }
    input {
        font-size: 100%;
    }
    label {
        font-size: 100%;
    }
    #main.result {
        height: 100%
    }
}

.fit-nav>a {
    text-decoration: none;
    color: #FF6D00;
}

.g-header {
    margin-top: 40px;
    margin-bottom: 7px;
    margin-left: 100px;
    margin-right: 100px;
    font-size: medium;
    color:#3C096C;
    font-family: Cambria, serif;
    font-weight: 500;
}

.fit-gender {
    display: flex;
    margin-top: 4px;
    margin-bottom: 7px;
    margin-left: 95px;
    margin-right: 100px;
}

#gender-input1 {
    margin-right: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
    cursor: pointer;
}

#gender-input2 {
    margin-right: 5px;
    margin-left: 15px;
    margin-top: 2px;
    margin-bottom: 2px;
    cursor: pointer;
}

.fit-input {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    margin-left: 100px;
    margin-right: 100px;
}

label {
    margin-bottom: 5px;
    margin-top: 4px;
    font-size: medium;
    color:#3C096C;
    font-family: Cambria, serif;
    font-weight: 500;
}

input {
    outline: none;
    border: solid #9D4EDD;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 20px;
    font-size: small;
    color: #3C096C;
}

input:hover {
    border-color:#7b2cbf;
}

input:focus {
    border: solid #5A189A
}

button {
    background-color: #FF9100;
    color: #3C096C;
    font-family: Cambria, serif;
    font-weight: 500;
    font-size: 14px;
    border: none;
    padding: 4px 10px;
    border-radius: 20px;
    margin-top: 15px;
    cursor: pointer;
}

button:hover {
    background-color: #FF6D00;
}

button:active {
    transition: transform 0.2s;
    transform: scale(0.95);
    background-color: #FF9100;
}

#h-result {
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 100px;
    font-size: large;
    font-family: Cambria, serif;
    color: #3C096C;
}

#result0 {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
    color: #240046;
    font-family: Cambria, serif;
}

.result {
    border-radius: 20%;
    text-align: center;
    padding-top: 10px;
    font-size: large;
    font-family: Cambria, serif;
    color: #240046;
    font-weight: bold;
}

#keterangan {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    font-family: Cambria, serif;
    font-size: medium;
    padding-bottom: 10px;
    color: #240046;
    font-weight: 500;
}

#main-result {
    background-color:#FF9100;
    border-radius: 30px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
    height: 180px;
}

#hasil-bmi{
    color: white;
    text-align: center;
    margin: 0 auto;
    background-color: #7b2cbf;
    border-radius: 5px;
    display: grid;
    
}